footer {
	align-items: center;
	background-color: $blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 0 10px 0;

	* {
		margin: 10px 5px;
	}
}

.footer-title {
	color: white;
	font-size: $text-big;
    text-transform: uppercase;
    
    &::after {
        background: url('./assets/triangle.svg') no-repeat;
        content: '';
        width: 200px;
    }
}

.footer-copyright {
	color: white;
	font-size: $text-small;
	align-self: flex-end;
}
