footer {
	align-items: center;
	background-color: $blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 0 10px 0;

	* {
		margin: 12px 10px;
	}
}

.footer-copyright {
	align-self: flex-end;
	color: white;
	font-size: $text-small;
	margin-right: 30px;
}

.footer-img {
	max-width: 400px;
}

.footer-title {
	color: white;
	font-size: $text-big;
	text-transform: uppercase;
}

@media screen and (max-width: 1024px){
	.footer-img {
		max-width: 200px;
	}
  }

