header {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 5px 5px 0px $header-color;
  display: flex;
  font-size: $text-big;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  
  &::before {
    content: url('./assets/wolox_logo.svg');;
    width: 200px;
  }
}
