.header {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 5px 5px 0px $header-color;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-title {
  font-size: $text-big;
}

.header-img {
  content: url('./assets/wolox_logo.svg');
  min-width: 200px;
}
