* {
    font-family: 'Roboto', sans-serif;
}

.tech-container{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 175px);
    grid-template-areas: 
        ". react angular vue"
        ". react angular vue"
        ". react elm polymer"
        ". react elm polymer";
    
    .tech-react{
        grid-area: react;
        height: 100%;
        border-right: 1px solid $green;
    }

    .tech-angular{
        grid-area: angular;
    }

    .tech-vue{
        grid-area: vue;
    }

    .tech-polymer{
        grid-area: polymer;
    }

    .tech-elm{
        grid-area: elm;
    }
}


