.tech-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, $tech-width);
  justify-items: center;
  padding: 10px 40px;
  margin: 10px;
  
  .tech:first-child {    
    border-right: 2px solid $green;
    grid-row: 1/3;
    justify-content: center;    
  }
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-height: 280px;
  width: $tech-width;
}

.tech-title,
.tech-release,
.tech-image {
  margin-bottom: 10px;
}

.tech-description {
  text-align: center;
  margin: 10px;
}

.tech-image {
  @include image-size(100px);
}

.tech-title {
  font-size: $text-small;
}

.tech-release {
  font-weight: bold;
}

@media screen and (max-width: 1024px){
  .tech {
    border-top: 2px solid $green;
    padding-top: 20px;
  }

  .tech-container {
    grid-template-columns: 1fr;
    justify-content: center;

    .tech:first-child {
      border: none;
    }
  }
}
