.alert {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game {
	display: flex;
	flex-direction: row;
  font: 14px 'Century Gothic', Futura, sans-serif;
  padding: ($nav-height+20px) 20px;
}

.game-info {
	margin-left: 20px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0px;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}


